{extends "base.html"}

{block "content"}
{$columns['cron_id'] = ['title' => '#', 'class' => 'number', 'style' => 'width: 30px;']}
{$columns['cron_active'] = ['title' => '', 'style' => 'width: 16px']}
{$columns['cron_title'] = ['title' => 'Задача']}
{$columns['next_run'] = ['title' => 'Следующий запуск']}
{$columns['run_counter'] = ['title' => 'Запусков']}

{foreach $entries|default:[] as $row}
	{capture "input"}
		{if $row.cron_active}
			<img src="{$T_STATIC}/i/_/status.png" alt="">
		{else}
			<img src="{$T_STATIC}/i/_/status-offline.png" alt="">
		{/if}
	{/capture}
	{$entries[$row@key].cron_active = $smarty.capture.input}

	{capture "input"}
		{$row.cron_title}<br>
		<span class="muted">{$row.cron_script}::run()</span>
	{/capture}
	{$entries[$row@key].cron_title = $smarty.capture.input}

	{capture "input"}
		{$row.next_run|date_format:'%e %B %Y %H:%M'}<br>
		<span class="muted">{$row.cron_schedule}</span>
	{/capture}
	{$entries[$row@key].next_run = $smarty.capture.input}
{/foreach}

{include "acp/block/entries_list.html"}
{/block}