{extends "base.html"}

{block "content"}
{if not empty($S_EDIT_PAGE)}
	{if not empty($errors)}
		<div class="errorbox">
			<ul>
				{foreach $errors as $row}
					<li>{$row}</li>
				{/foreach}
			</ul>
		</div>
	{/if}
	
	<div class="boxed-group">
		<h3>{$page.page_name|default:'Добавление новой страницы'}{if $page.page_handler and $page.handler_method} <small>{$page.page_handler}::{$page.handler_method}()</small>{/if}</h3>
		<div class="boxed-group-inner">
			<form action="" class="form-horizontal" method="post">
				<div class="tabbable">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab1" data-toggle="tab">Контент</a></li>
						<li><a href="#tab2" data-toggle="tab">Меню</a></li>
						<li><a href="#tab3" data-toggle="tab">SEO</a></li>
						<li><a href="#tab4" data-toggle="tab">Свойства</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab1">
							<div class="control-group">
								<label class="control-label" for="page_name_field">Название</label>
								<div class="controls">
									<input name="page_name" type="text" id="page_name_field" value="{$page.page_name|default:''}" placeholder="page_name">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="page_url_field">URL</label>
								<div class="controls">
									<input type="text" name="page_url" id="page_url_field" value="{$page.page_url|default:''}" placeholder="page_url"> . <input class="span1" name="page_formats" type="text" id="page_formats_field" value="{$page.page_formats|default:'html'}" placeholder="html">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="page_handler_field">Обработчик запроса</label>
								<div class="controls">
									<input name="page_handler" type="text" id="page_handler_field" value="{$page.page_handler|default:''}" placeholder="page_handler"> :: <input name="handler_method" type="text" value="{$page.handler_method|default:''}" placeholder="handler_method">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="page_redirect_field">Редирект</label>
								<div class="controls">
									<input name="page_redirect" type="text" id="page_redirect_field" value="{$page.page_redirect|default:''}" placeholder="Редирект">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="page_text_field">Текст страницы</label>
								<div class="controls">
									<textarea name="page_text" id="page_text_field" class="input-block-level" style="height: 20em;">{$page.page_text|default:''}</textarea>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="tab2">
							<div class="control-group">
								<label class="control-label" for="parent_id_field">Родитель</label>
								<div class="controls">
									<select name="parent_id" id="parent_id_field">{$S_CAT_OPTIONS}</select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Главное меню</label>
								<div class="controls">
									<label class="radio inline"><input type="radio" name="page_display" value="2"{if $page.page_display == 2} checked{/if}> Глобальное</label>
									<label class="radio inline"><input type="radio" name="page_display" value="1"{if $page.page_display == 1} checked{/if}> В разделах</label>
									<label class="radio inline"><input type="radio" name="page_display" value="0"{if not $page.page_display} checked{/if}> {'NO'|i18n}</label>
								</div>
							</div>
							{if not empty($menus)}
								<div class="control-group">
									<label class="control-label">Поместить в меню</label>
									<div class="controls">
										{foreach $menus as $row}
											{$key="display_in_menu_{$row.menu_id}"}
											<label class="checkbox"><input type="checkbox" name="display_in_menu_{$row.menu_id}" value="1" {if $page.$key}checked{/if}> {$row.menu_title}</label>
										{/foreach}
									</div>
								</div>
							{/if}
						</div>
						<div class="tab-pane" id="tab3">
							<div class="control-group">
								<label class="control-label">Индексируется</label>
								<div class="controls">
									<label class="radio inline"><input type="radio" name="page_noindex" value="0"{if not $page.page_noindex} checked{/if}> {'YES'|i18n}</label>
									<label class="radio inline"><input type="radio" name="page_noindex" value="1"{if $page.page_noindex} checked{/if}> {'NO'|i18n}</label>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="page_title_field">Заголовок</label>
								<div class="controls">
									<input name="page_title" type="text" id="page_title_field" value="{$page.page_title|default:''}" placeholder="page_title">
								</div>
							</div>
						</div>
						<div class="tab-pane" id="tab4">
							<div class="control-group">
								<label class="control-label">Является папкой</label>
								<div class="controls">
									<label class="radio inline"><input type="radio" name="is_dir" value="1"{if $page.is_dir} checked{/if}>{'YES'|i18n}</label>
									<label class="radio inline"><input type="radio" name="is_dir" value="0"{if not $page.is_dir} checked{/if}>{'NO'|i18n}</label>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Отображается на сайте</label>
								<div class="controls">
									<label class="radio inline"><input type="radio" name="page_enabled" value="1"{if $page.page_enabled} checked{/if}> {'YES'|i18n}</label>
									<label class="radio inline"><input type="radio" name="page_enabled" value="0"{if not $page.page_enabled} checked{/if}> {'NO'|i18n}</label>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="page_image_field">Иконка</label>
								<div class="controls">
									<input name="page_image" type="text" id="page_image_field" value="{$page.page_image|default:''}" placeholder="document-text"> .png
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<input class="btn btn-primary btn-large" type="submit" id="submit" name="submit" value="{'SAVE'|i18n}">
					</div>
				</div>
				<input type="hidden" name="action" value="{$ACTION}">
			</form>
		</div>
	</div>
{else}
	<div class="boxed-group flush" style="margin: 0 auto;">
		<h3>{$NAVIGATION}{if $S_NO_PAGES} [<a href="{$U_EDIT}">{'EDIT'|i18n}</a> | <a href="{$U_DELETE}">{'DELETE'|i18n}</a> | {if $page.page_enabled}<a href="{$U_DISABLE}">{'DISABLE'|i18n}</a>{else}<a href="{$U_ENABLE}">{'ENABLE'|i18n}</a>{/if}]{/if}</h3>
		{if not empty($pages)}
			<div class="boxed-group-inner">
				<table class="table-stats">
					{foreach $pages as $row}
					<tr ondblclick="document.location='{$row.U_EDIT}';">
						<td style="width: 25px; text-align: right;"><img src="//ivacuum.org/i/_/{($row.is_dir) ? 'folder_open' : 'blog'}.png" alt=""></td>
						<td style="width: 25px; text-align: center;"><img src="//ivacuum.org/i/_/status_{($row.page_enabled) ? 'online' : 'offline'}.png" alt=""></td>
						<td>
							{if $row.is_dir}
								<a href="{$row.U_PAGE}" title="/{$row.page_url}/">{$row.page_name}</a>
							{else}
								<span title="{$row.page_url}.html">{$row.page_name}</span>
							{/if}
							{if $row.page_handler and $row.handler_method}
								<span class="muted">({$row.page_handler}::{$row.handler_method})</span>
							{/if}
							{if $row.page_noindex}
								<img src="//ivacuum.org/i/_/monitor_off.png" alt="">
							{/if}
							{if $row.page_display == 2}
								<img src="//ivacuum.org/i/_/sitemap_application_blue.png" alt="">
							{elseif $row.page_display == 1}
								<img src="//ivacuum.org/i/_/sitemap_application.png" alt="">
							{/if}
							{if $row.page_redirect}
								<img src="//ivacuum.org/i/_/road_sign.png" alt="">
							{/if}
						</td>
						<td style="width: 15%; white-space: nowrap; text-align: center; vertical-align: middle;">&nbsp;{if $row.page_enabled}<a href="{$row.U_DISABLE}">{'DISABLE'|i18n}</a>{else}<a href="{$row.U_ENABLE}">{'ENABLE'|i18n}</a>{/if}&nbsp;</td>
						<td style="width: 90px; white-space: nowrap; text-align: right; vertical-align: middle;">
							{if $row@first and not $row@last}
								<a href="{$row.U_MOVE_DOWN}"><img src="//ivacuum.org/i/_/arrow_270.png" alt=""></a>
							{elseif not $row@first and not $row@last}
								<a href="{$row.U_MOVE_UP}"><img src="//ivacuum.org/i/_/arrow_090.png" alt=""></a> 
								<a href="{$row.U_MOVE_DOWN}"><img src="//ivacuum.org/i/_/arrow_270.png" alt=""></a> 
							{elseif not $row@first and $row@last}
								<a href="{$row.U_MOVE_UP}"><img src="//ivacuum.org/i/_/arrow_090.png" alt=""></a>	
							{/if}
							<a href="{$row.U_EDIT}"><img src="//ivacuum.org/i/_/pencil.png" alt=""></a> 
							<a href="#" onclick="if(confirm('Будет удалена вся информация, связанная с этой записью! Продолжить?')) { document.location = '{$row.U_DELETE}'; return false; }"><img src="//ivacuum.org/i/_/cross.png" alt=""></a>
						</td>
					</tr>
					{/foreach}
				</table>
			</div>
		{/if}
	</div>
	
	<form method="post" action="" style="margin-top: 1em;">
		<input type="hidden" name="action" value="add">
		<input type="hidden" name="parent_id" value="{$PARENT_ID}">
		<button class="btn" name="addpage" type="submit">Создать новую страницу</button>
	</form>
{/if}
{/block}