{extends "base.html"}

{block "content_header"}{/block}
{block "content_footer"}{/block}
{block "content"}
<div id="pages-management" class="row">
{if not empty($S_EDIT_PAGE)}
	<div class="span8 offset2">
		{if $PAGENAME}
			<div class="page-header">
				<h2>{$PAGENAME}{if $PAGE_HANDLER and $HANDLER_METHOD} <small>{$PAGE_HANDLER}::{$HANDLER_METHOD}()</small>{/if}</h2>
			</div>
		{/if}

		{if $S_ERROR}
			<div class="errorbox">
				<h3>{'WARNING'|i18n}</h3>
				<p>{$ERROR_MSG}</p>
			</div>
		{/if}

		<form action="{$U_ACTION}" method="post">
		<fieldset class="b-center">
			{if not $PAGENAME}
				<legend>Добавление новой страницы</legend>
			{/if}
			<div class="row">
				<div class="span4">
					<label>Название<input name="page_name" type="text" id="page_name" value="{$PAGE_NAME}" placeholder="page_name"></label>
				</div>
				<div class="span4">
					<label>Заголовок<input name="page_title" type="text" id="page_title" value="{$PAGE_TITLE}" placeholder="page_title"></label>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<label>URL<input type="text" name="page_url" id="page_url" value="{$PAGE_URL}" placeholder="page_url"></label>
				</div>
				<div class="span4">
					<label>Форматы<input name="page_formats" type="text" id="page_formats" value="{$PAGE_FORMATS}" placeholder="html"></label>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<label>Папка<select name="is_dir" id="is_dir"><option value="1"{if $S_IS_DIR} selected{/if}>{'YES'|i18n}</option><option value="0"{if not $S_IS_DIR} selected{/if}>{'NO'|i18n}</option></select></label>
				</div>
				<div class="span4">
					<label>Родитель<select name="parent_id" id="parent_id">{$S_CAT_OPTIONS}</select></label>
				</div>
			</div>
			<div class="row control-group">
				<div class="span2">
					<label>Включена</label>
					<label class="radio"><input type="radio" name="page_enabled" id="page_enabled" value="1"{if $PAGE_ENABLED} checked{/if}> {'YES'|i18n}</label>
					<label class="radio"><input type="radio" name="page_enabled" value="0"{if not $PAGE_ENABLED} checked{/if}> {'NO'|i18n}</label>
				</div>
				<div class="span2">
					<label>Отображается</label>
					<label class="radio"><input type="radio" name="page_display" value="2"{if $PAGE_DISPLAY == 2} checked{/if}> Глобально</label>
					<label class="radio"><input type="radio" name="page_display" id="page_display" value="1"{if $PAGE_DISPLAY == 1} checked{/if}> Локально</label>
					<label class="radio"><input type="radio" name="page_display" value="0"{if not $PAGE_DISPLAY} checked{/if}> {'NO'|i18n}</label>
				</div>
				<div class="span2">
					<label for="page_noindex">Индексируется</label>
					<label class="radio"><input type="radio" name="page_noindex" id="page_noindex" value="0"{if not $PAGE_NOINDEX} checked{/if}> {'YES'|i18n}</label>
					<label class="radio"><input type="radio" name="page_noindex" value="1"{if $PAGE_NOINDEX} checked{/if}> {'NO'|i18n}</label>
				</div>
			</div>
			<input class="span8" name="page_redirect" type="text" id="page_redirect" value="{$PAGE_REDIRECT}" placeholder="Редирект">
			<div class="row">
				<div class="span4"><input class="span4" name="page_handler" type="text" id="page_handler" value="{$PAGE_HANDLER}" placeholder="Модуль"></div>
				<div class="span4"><input class="span4" name="handler_method" type="text" id="handler_method" value="{$HANDLER_METHOD}" placeholder="Метод"></div>
			</div>
			<input class="span8" name="page_image" type="text" id="page_image" value="{$PAGE_IMAGE}" placeholder="Картинка">
			<label>Содержимое страницы<textarea class="span8" name="page_text" id="page_text" style="height: 30em;">{$PAGE_TEXT}</textarea></label>
			<div class="form-actions">
				<input type="hidden" name="action" value="{$ACTION}">
				<input type="hidden" name="pid" value="{$PAGE_ID}">
				<input class="btn btn-primary btn-large" type="submit" id="submit" name="submit" value="{'SAVE'|i18n}">
			</div>
			{$S_FORM_TOKEN}
		</fieldset>
		</form>
	</div>
{else}
	<table class="b-center table-stats ui-shadow-light">
		<thead>
		<tr>
			<th align="left" colspan="5">{$NAVIGATION}{if $S_NO_PAGES} [<a href="{$U_EDIT}">{'EDIT'|i18n}</a> | <a href="{$U_DELETE}">{'DELETE'|i18n}</a> | {if $PAGE_ENABLED}<a href="{$U_DISABLE}">{'DISABLE'|i18n}</a>{else}<a href="{$U_ENABLE}">{'ENABLE'|i18n}</a>{/if}]{/if}</th>
		</tr>
		</thead>
		{foreach $pages as $row}
		<tr ondblclick="document.location='{$row.U_EDIT}';">
			<td style="width: 25px; text-align: right;"><img src="//ivacuum.org/i/_/{$row.PAGE_IMAGE}.png" alt=""></td>
			<td style="width: 25px; text-align: center;">
				{if $row.PAGE_ENABLED}
					<img src="//ivacuum.org/i/_/status_online.png" alt="">
				{else}
					<img src="//ivacuum.org/i/_/status_offline.png" alt="">
				{/if}
			</td>
			<td>
				{if $row.PAGE_IMG}
					<img src="//ivacuum.org/i/_/{$row.PAGE_IMG}.png" alt="">
				{/if}
				{if $row.IS_DIR}
					<a href="{$row.U_PAGE}" title="/{$row.PAGE_URL}/">{$row.PAGE_NAME}</a>
				{else}
					<span title="{$row.PAGE_URL}.html">{$row.PAGE_NAME}</span>
				{/if}
				{if $row.PAGE_HANDLER and $row.HANDLER_METHOD}
					<span class="muted">({$row.PAGE_HANDLER}::{$row.HANDLER_METHOD})</span>
				{/if}
				{if $row.PAGE_NOINDEX}
					<img src="//ivacuum.org/i/_/monitor_off.png" alt="">
				{/if}
				{if $row.PAGE_DISPLAYED == 2}
					<img src="//ivacuum.org/i/_/sitemap_application_blue.png" alt="">
				{elseif $row.PAGE_DISPLAYED == 1}
					<img src="//ivacuum.org/i/_/sitemap_application.png" alt="">
				{/if}
				{if $row.PAGE_REDIRECT}
					<img src="//ivacuum.org/i/_/road_sign.png" alt="">
				{/if}
			</td>
			<td style="width: 15%; white-space: nowrap; text-align: center; vertical-align: middle;">&nbsp;{if $row.PAGE_ENABLED}<a href="{$row.U_DISABLE}">{'DISABLE'|i18n}</a>{else}<a href="{$row.U_ENABLE}">{'ENABLE'|i18n}</a>{/if}&nbsp;</td>
			<td style="width:90px; white-space: nowrap; text-align: right; vertical-align: middle;">
				{if $row@first and not $row@last}
					<a href="{$row.U_MOVE_DOWN}"><img src="//ivacuum.org/i/_/arrow_270.png" alt=""></a>
				{elseif not $row@first and not $row@last}
					<a href="{$row.U_MOVE_UP}"><img src="//ivacuum.org/i/_/arrow_090.png" alt=""></a> 
					<a href="{$row.U_MOVE_DOWN}"><img src="//ivacuum.org/i/_/arrow_270.png" alt=""></a> 
				{elseif not $row@first and $row@last}
					<a href="{$row.U_MOVE_UP}"><img src="//ivacuum.org/i/_/arrow_090.png" alt=""></a>	
				{/if}
				<a href="{$row.U_EDIT}"><img src="//ivacuum.org/i/_/pencil.png" alt=""></a> 
				<a href="#" onclick="if(confirm('Будет удалена вся информация, связанная с этой записью! Продолжить?')) { document.location = '{$row.U_DELETE}'; return false; }"><img src="//ivacuum.org/i/_/cross.png" alt=""></a>
			</td>
		</tr>
		{/foreach}
	</table>
	
	<br>

	<form method="post" action="">
	<fieldset class="b-center" style="max-width: 300px;">
		<legend>Создать новую страницу</legend>
		<input type="hidden" name="action" value="add">
		<input type="hidden" name="parent_id" value="{$PARENT_ID}">
		
		<input type="text" name="page_name" maxlength="255" placeholder="page_name">
		<input class="btn" name="addpage" type="submit" value="Продолжить...">
	</fieldset>
	</form>
{/if}
</div>
{/block}