{strip}
<script>
function changeTab(tab) {
  $('#pQp').removeClass('console speed queries memory files').addClass(tab);
}

function toggleDetails() {
  $('#pqp-container').toggleClass('hideDetails');
  $('#pqp-metrics').toggle();
  $('#profiler_short_data').toggle();
}

function hideProfiler() {
  $('#pqp-container').empty();
}
</script>

<link rel="stylesheet" href="//ivacuum.org/i/profiler/style.css">

<div id="pqp-container" class="pQp hideDetails tallDetails">
<div id="pQp" class="console">
	<table id="pqp-metrics" cellspacing="0" style="display: none;">
	<tr>
		<td class="green" onclick="changeTab('console');">
			<var>{$LOGS_COUNT}</var>
			<h4>{'CONSOLE'|i18n}</h4>
		</td>
		<td class="blue" onclick="changeTab('speed');">
			<var>{$SPEED_TOTAL}</var>
			<h4>{'LOAD_TIME'|i18n}</h4>
		</td>
		<td class="purple" onclick="changeTab('queries');">
			<var>{$QUERY_COUNT|declension:'QUERIES'}</var>
			<h4>{'DATABASE'|i18n}</h4>
		</td>
		<td class="orange" onclick="changeTab('memory');">
			<var>{$MEMORY_USED|humn_size}</var>
			<h4>{'MEMORY_USED'|i18n}</h4>
		</td>
		<td class="red" onclick="changeTab('files');">
			<var>{$FILE_COUNT|declension:'FILES'}</var>
			<h4>{'INCLUDED'|i18n}</h4>
		</td>
	</tr>
	</table>

	<div id="pqp-console" class="pqp-box">
		{if $LOGS_COUNT == 0}
			<h3>{'NO_DATA'|i18n}</h3>
		{else}
			<table class="side" cellspacing="0">
				<tr>
					<td class="alt1"><var>{$LOG_COUNT}</var><h4>Logs</h4></td>
					<td class="alt2"><var>{$ERROR_COUNT}</var><h4>Errors</h4></td>
				</tr>
				<tr>
					<td class="alt3"><var>{$MEMORY_COUNT}</var><h4>Memory</h4></td>
					<td class="alt4"><var>{$SPEED_COUNT}</var><h4>Speed</h4></td>
				</tr>
			</table>
			<div style="float: left; overflow: auto; width: 80%;">
			<table class="main" cellspacing="0">
			{foreach $profiler_logs as $row}
				<tr class="log-{$row.type}">
					<td class="type">{$row.type}</td>
					<td class="{cycle values="alt,"}">
					{if $row.type == 'log'}
						<div><pre>{$row.data}</pre></div>
					{elseif $row.type == 'memory'}
						<div><pre>{$row.data}</pre> <em>{$row.data_type}</em>: {$row.name}</div>
					{elseif $row.type == 'speed'}
						<div><pre>{$row.data}</pre> <em>{$row.name}</em></div>
					{elseif $row.type == 'error'}
						<div><em>Line {$row.line}</em> : {$row.data} <pre>{$row.call_stack}</pre></div>
					{/if}
					</td>
				</tr>
			{/foreach}
			</table>
			</div>
		{/if}
	</div>

	<div id="pqp-speed" class="pqp-box">
		{if $SPEED_COUNT == 0}
			<h3>{'NO_DATA'|i18n}</h3>
		{else}
			<table class="side" cellspacing="0">
				<tr><td><var>{$SPEED_TOTAL}</var><h4>Load Time</h4></td></tr>
				<tr><td class="alt"><var>{$SPEED_ALLOWED}</var><h4>Max Execution Time</h4></td></tr>
			</table>
			<div style="float: left; overflow: auto; width: 80%;">
			<table class="main" cellspacing="0">
				{foreach $profiler_logs as $row}
					{if $row.type == 'speed'}
						<tr class="log-{$row.type}"><td class="{cycle values="alt,"}"><div><pre>{$row.data}</pre> <em>{$row.name}</em></div></td></tr>
					{/if}
				{/foreach}
			</table>
			</div>
		{/if}
	</div>

	<div id="pqp-queries" class="pqp-box">
		{if $QUERY_COUNT == 0}
			<h3>{'NO_DATA'|i18n}</h3>
		{else}
			<table class="side" cellspacing="0">
				<tr><td><var>{$QUERY_COUNT}</var><h4>{'TOTAL_QUERIES'|i18n}</h4></td></tr>
				<tr><td class="alt"><var>{$QUERY_CACHED}</var><h4>{'FROM_CACHE'|i18n}</h4></td></tr>
				<tr><td><var>{$QUERY_TIME}</var> <h4>{'EXECUTION_TIME'|i18n}</h4></td></tr>
			</table>
			<div style="float: left; overflow: auto; width: 80%;">
			<table class="main" cellspacing="0">
				{foreach $profiler_queries as $row}
					<tr><td class="{cycle values="alt,"}">{$row.sql} <em>{$row.time}{if $row.cached} <span style="color: #ffd700;">({'FROM_CACHE'|i18n|lower})</span>{/if}</em></td></tr>
				{/foreach}
			</table>
			</div>
		{/if}
	</div>

	<div id="pqp-memory" class="pqp-box">
		{if $MEMORY_COUNT == 0}
			<h3>{'NO_DATA'|i18n}</h3>
		{else}
			<table class="side" cellspacing="0">
				<tr><td><var>{$MEMORY_USED|humn_size}</var><h4>Used Memory</h4></td></tr>
				<tr><td class="alt"><var>{$MEMORY_TOTAL}</var> <h4>Total Available</h4></td></tr>
			</table>
			<div style="float: left; overflow: auto; width: 80%;">
			<table class="main" cellspacing="0">
				{foreach $profiler_logs as $row}
					{if $row.type == 'memory'}
						<tr class="log-{$row.type}"><td class="{cycle values="alt,"}"><b>{$row.data|humn_size:2}</b> <em>{$row.data_type}</em>: {$row.name}</td></tr>
					{/if}
				{/foreach}
			</table>
			</div>
		{/if}
	</div>

	<div id="pqp-files" class="pqp-box">
		{if $FILE_COUNT == 0}
			<h3>{'NO_DATA'|i18n}</h3>
		{else}
			<table class="side" cellspacing="0">
				<tr><td><var>{$FILE_COUNT}</var><h4>{'TOTAL_FILES'|i18n}</h4></td></tr>
				<tr><td class="alt"><var>{$FILE_SIZE|humn_size}</var><h4>{'TOTAL_SIZE'|i18n}</h4></td></tr>
				<tr><td><var>{$FILE_LARGEST|humn_size}</var><h4>{'LARGEST'|i18n}</h4></td></tr>
			</table>
			<div style="float: left; overflow: auto; width: 80%;">
			<table class="main" cellspacing="0">
				{foreach $profiler_files as $row}
					<tr><td class="{cycle values="alt,"}"><b>{$row.size|humn_size:2}</b> {$row.name}</td></tr>
				{/foreach}
			</table>
			</div>
		{/if}
	</div>

	<table id="pqp-footer" cellspacing="0">
		<tr>
			<td id="profiler_short_data_container">
				<ul id="profiler_short_data">
					<li><img src="//ivacuum.org/i/_/application_monitor.png" title="{'CONSOLE'|i18n}"> <span class="green">{$LOGS_COUNT}</span></li>
					<li><img src="//ivacuum.org/i/_/dashboard.png" title="{'LOAD_TIME'|i18n}"> <span class="blue">{$SPEED_TOTAL}</span></li>
					<li><img src="//ivacuum.org/i/_/database.png" title="{'DATABASE'|i18n}"> <span class="purple">{$QUERY_COUNT|declension:'QUERIES'}</span></li>
					<li><img src="//ivacuum.org/i/_/memory.png" title="{'MEMORY_USED'|i18n}"> <span class="orange">{$MEMORY_USED|humn_size}</span></li>
					<li><img src="//ivacuum.org/i/_/document_php.png" title="{'INCLUDED'|i18n}"> <span class="red">{$FILE_COUNT|declension:'FILES'}</span></li>
					<li><img src="//ivacuum.org/i/_/server_network.png"> <span class="green">{$SERVER_HOSTNAME}</span></li>
				</ul>
			</td>
			<td class="actions">
				<a onclick="hideProfiler(); return false;">&times;</a>
				<a onclick="toggleDetails(); return false">{'DETAILS'|i18n}</a>
			</td>
		</tr>
	</table>
</div>
</div>
{/strip}