<div class="boxed-group flush">
	{if $add_url = 'add'|url_for}
		<a href="{$add_url}" class="boxed-group-action btn btn-success">Добавить</a>
	{/if}
	<h3>{$page.page_name}</h3>
	{if not empty($entries) && not empty($columns)}
		<div class="boxed-group-inner">
			<table class="table-stats">
				<thead>
					<tr>
						{foreach $columns as $row}
							<th class="{$row.class|default:''}" style="{$row.style|default:''}">{$row.title}</th>
						{/foreach}
						<th style="width: 50px;"></th>
					</tr>
				</thead>
				{foreach $entries as $row}
					<tr>
						{foreach $row as $key => $value}
							{if !in_array($key, $columns|@array_keys)}
								{continue}
							{/if}
							<td class="{$columns[$key].class|default:''}" style="{$columns[$key].style|default:''}">{$value}</td>
						{/foreach}
						<td>
							{if $edit_url = 'edit'|url_for}
								<a href="$edit_url"><img src="//ivacuum.org/i/_/pencil.png" alt=""></a>
							{/if}
							{if $delete_url = 'delete'|url_for}
								<a href="#" onclick="if(confirm('Будет удалена вся информация, связанная с этой записью! Продолжить?')) { document.location = '{$delete_url}'; return false; }"><img src="//ivacuum.org/i/_/cross.png" alt=""></a>
							{/if}
						</td>
					</tr>
				{/foreach}
			</table>
		</div>
	{/if}
</div>