<div class="boxed-group flush">
	<h3>Заголовок</h3>
	{if not empty($data)}
		<div class="boxed-group-inner">
			<table class="table-stats">
				{foreach $data as $row}
					<tr>
						{foreach $row as $key => $value}
							<td>$value</td>
						{/foreach}
						<td style="width: 90px; white-space: nowrap; text-align: right; vertical-align: middle;">
							<a href="{'edit'|url_for}"><img src="//ivacuum.org/i/_/pencil.png" alt=""></a> 
							<a href="#" onclick="if(confirm('Будет удалена вся информация, связанная с этой записью! Продолжить?')) { document.location = '{'delete'|url_for}'; return false; }"><img src="//ivacuum.org/i/_/cross.png" alt=""></a>
						</td>
					</tr>
				{/foreach}
			</table>
		</div>
	{/if}
</div>